.flex{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.centeritems{
    position: relative;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10mm;
    top: 10px;
    float: left;
}
.header {
    top:0;
    left: 10;
    width: 100%;
    height: 9rem;
    background-color:gray;
    color: white;
    display: flex;
    text-align: center;
    text-size-adjust:1;
    justify-content: center;
    align-items: center;
    padding-bottom: 18mm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1cm;
  }
  .buttonCss{
    background-color: aqua;
    border-radius: 1mm;
    border-color: aqua;
  }
  .center{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    