.black{
    background-color:#282c34;
    position: relative;
    display:flex ;
    flex-wrap: wrap;
    
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    
    font-size: calc(8px + 1vmin);
    color: white;
    word-spacing: 20mm;
}
.header {
    top:0;
    left: 10;
    width: 100%;
    height: 9rem;
    background-color:gray;
    color: white;
    display: flex;
    text-align: center;
    text-size-adjust:1;
    justify-content: center;
    align-items: center;
    padding-bottom: 18mm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1cm;
  }
  
  .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }

  .blackBox{
    background-color:rebeccapurple;
    
  }
  .bottumheader {
    top:1;
    left: 10;
    width: 100%;
    height: 7rem;
    background-color:rgb(98, 98, 235);
    color: white;
    display: flex;
    text-align: center;
    text-size-adjust:1;
  }
  .cart{
position:absolute;
right: 0px ;
  }
  .App {
    text-align: center;
  }
  
  .Appheader {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  